html,body{
    height: 100%;
    width: 100%;
    padding: 0;
    display: block;
    margin: 0 auto;
    font-family: Poppins, Georgia, serif;

}
#app{
    height: 100%;
    width: 100%;
}

.bg_color{
    background: linear-gradient(-222deg, rgba(114,118,255,0.77) 0%, rgba(80,84,255,0.92) 64%, rgba(80,83,255,0.92) 65%, rgba(74,78,255,0.94) 76%, #3E41FF 100%);
    min-height: 407px;
    min-width: 407px;
    height: 100%;
    width: 100%;
}
.emp{
    height: 22vh;
}
.v_center{
    width:452px;
    margin: 0 auto;
}
.reviews_await{
    font-family: Poppins-SemiBold, Georgia, serif;
    font-size: 30px;
    color: #4A4A4A;
    letter-spacing: -1.6px;
    text-align: center;

}

input:focus,
button:focus {
    outline: none;
    cursor: hand;
}

.box{
    background: #FFFFFF;
    box-shadow: 2px 4px 13px 0 rgba(0,0,0,0.19);
    border-radius: 8px;
    width: 452px;
    height: 407px;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.box_inside{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    vertical-align: middle;
}

.log_user,
.log_pass{
    font-family: Poppins-Medium, Georgia, serif;
    font-size: 14px;
    color: #97A2A4;
    letter-spacing: -0.25px;
    width: 313px;
    height: 45px;
    padding: 5px;
    text-indent: 20px;
    margin: 8px auto;
    display: block;
    border: 1px solid #D3D3D5;
    border-radius: 36px;
}

.btn_signin{
    width: 313px;
    height: 45px;
    background-color: #38D996;
    border-radius: 28px 28px 0 28px;
    border: 1px solid #D3D3D5;
    margin: 0 auto;
    display: block;
    font-family: Poppins-SemiBold, Georgia, serif;
    font-size: 15px;
    color: #FFFFFF;
    letter-spacing: -0.8px;
}


.anly_body{
    background-color: #F5F8FD;

}

.side_nav {
    height: 100%;
    background-color: #FFFFFF;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
    font-family: Poppins-SemiBold, Georgia, serif;
    font-size: 15px;
    color: #B2B2BE;
    letter-spacing: -0.8px;
    text-align:center;
}

.logo_holder{
    background: #D8D8D8;
    border-radius: 8px;
    width: 48px;
    height: 37px;
    margin: 0 auto;
}

.send_invite{
    background: #38D996;
    border-radius: 28px 28px 0 28px;
    font-family: Poppins-SemiBold, Georgia, serif;
    font-size: 15px;
    color: #FFFFFF;
    letter-spacing: -0.8px;
    width: 171px;
    height: 41px;
    border: 1px solid #D3D3D5;
}

.side_nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: inherit;
    overflow: auto;
    text-align: left;
    text-indent: 15px;
    letter-spacing: -0.8px;

}

.side_nav li a {
    display: block;
    color: #B2B2BE;
    text-decoration: none;
    height:55px;

}

.side_nav  li a.active {
    background-color: #E4E4FD;
    color: #3E41FF;
}


.side_nav  li a:hover:not(.active) {
    background-color: #E4E4FD;
    color: #3E41FF;
}
.side_nav li a span.noti {
    background-color: #B2B2BE;
    color: #FFFFFF;
    width: 60px;
    height: 21px;
    margin: 0 auto;
    border-radius: 30px;
}

.headbar{
    height: 7.68vh;
    margin:0 auto;
    background-color: #FFFFFF;
}

.all_body{
    width: 87vw;
    height: auto;
    left: 13vw;
    float: right;
    background-color: #F5F8FD;
}
.bg_blu{
    background-color: #F5F8FD;
}

.analytics_box1{
    font-family: Poppins-Medium, Georgia, serif;
    font-size: 14px;
    color: #97A2A4;
    letter-spacing: -0.75px;
    padding: 20px;
    margin: 25px;
    background-color: #FFFFFF;
    box-shadow: 1px 3px 11px 0 rgba(0,0,0,0.03);
    border-radius: 8px;
}
.analytics_box2{
    font-family: Poppins-Medium, Georgia, serif;
    font-size: 14px;
    color: #97A2A4;
    letter-spacing: -0.75px;
    padding: 20px;
    margin: 25px 25px 25px 0;
    background-color: #FFFFFF;
    box-shadow: 1px 3px 11px 0 rgba(0,0,0,0.03);
    border-radius: 8px;
}.analytics_box3{
     font-family: Poppins-Medium, Georgia, serif;
     font-size: 14px;
     color: #97A2A4;
     letter-spacing: -0.75px;
     padding: 20px;
     margin: 0 25px 25px 25px;
     background-color: #FFFFFF;
     box-shadow: 1px 3px 11px 0 rgba(0,0,0,0.03);
     border-radius: 8px;
 }.analytics_box4{
      font-family: Poppins-Medium, Georgia, serif;
      font-size: 14px;
      color: #97A2A4;
      letter-spacing: -0.75px;
      padding: 20px;
      margin: 0 25px 25px 0;
      background-color: #FFFFFF;
      box-shadow: 1px 3px 11px 0 rgba(0,0,0,0.03);
      border-radius: 8px;

  }

.pro_curve{
    background: url('../images/ProgressCurve.png') no-repeat center;
    height: 175px;

}
.center_curve{
    position: relative;
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.ctr_no{
    font-family: Poppins-Light, Georgia, serif;
    font-size: 50px;
    color: #464646;
    letter-spacing: 1.1px;
}

.gjob{
    color: #4A4A4A;
}

.Cprofile{
    width:40px;
    height: 50px;
    border-radius: 50%;
    float: right;
    margin: 0 21px;
}

.review_head{
    font-family: Poppins-Medium, Georgia, serif;
    font-size: 15px;
    color: #4A4A4A;
    letter-spacing: -0.8px;
    padding: 25px;
}

.revno{
    font-family: Poppins-Light, Georgia, serif;
    font-size: 50px;
    color: #464646;
    letter-spacing: 1.1px;
}

.big{
    font-family: Poppins-Medium, Georgia, serif;
    font-size: 19px;
    padding: 5px;
}

.app_review{
    display: inline-block;
    float: left;
    width: 45%;
    font-family: Poppins-Medium, Georgia, serif;
    font-size: 14px;
    color: #97A2A4;
    letter-spacing: -0.75px;
}
.review_positive{
    display: inline-block;
    float: right;
    width: 45%;
    font-family: Poppins-Medium, Georgia, serif;
    font-size: 14px;
    color: #97A2A4;
    letter-spacing: -0.75px;
}

.divi {
    margin: 20px;
}

.site_review{
    display: inline-block;
    float: left;
    font-family: Poppins-Medium, Georgia, serif;
    font-size: 14px;
    color: #97A2A4;
    letter-spacing: -0.75px;
}

.site_review figure{
    display: inline-block;
    margin: 5px;
}

figure{
    display: inline-block;
    margin: 5px;
}

.site_review img{
    display: inline-block;
    width: 33px;
    height: 34px;
}

.rat{
    font-family: Poppins-Light, Georgia, serif;
    font-size: 50px;
    color: #464646;
    letter-spacing: 1.1px;
}

.app_rate{
    display: inline-block;
    float: left;
    width: 90%;
    font-family: Poppins-Medium, Georgia, serif;
    font-size: 14px;
    color: #97A2A4;
    letter-spacing: -0.75px;
}
.senti_body{
    margin:10px;
    text-align: center;
}
.reco_no{
    font-family: Poppins-Light, Georgia, serif;
    font-size: 30px;
    color: #464646;
    letter-spacing: 0.66px;
}

.reco_per{
    font-family: Poppins-Medium, Georgia, serif;
    font-size: 24px;
    color: #38D996;
    letter-spacing: 0.53px;
}

.noreco_per{
    font-family: Poppins-Medium, Georgia, serif;
    font-size: 24px;
    color: #ED40DB;
    letter-spacing: 0.53px;
}

.rev_body{
    width: 87vw;
    height: auto;
    left: 13vw;
    float: right;
    background-color: #F5F8FD;
    font-family: Poppins-Regular, Georgia, serif;
    font-size: 20px;
    color: #4A4A4A;
    letter-spacing: -1.07px;
}

.big_review{
    background-color: #FFFFFF;
}

.all_reviews{
    margin: 25px;
}
.all_review_head{
    font-family: Poppins-Regular, Georgia, serif;
    font-size: 20px;
    color: #4A4A4A;
    letter-spacing: -0.91px;
}
.review_tab_title{
    font-family: Poppins-Medium, Georgia, serif;
    font-size: 14px;
    color: #97A2A4;
    letter-spacing: -0.75px;
}
.onl_review{
    font-family: Poppins-Medium, Georgia, serif;
    font-size: 15px;
    color: #97A2A4;
    letter-spacing: -0.8px;
    margin: 17px;
}

.onl_review_title{

    font-family: Poppins-SemiBold, Georgia, serif;
    font-size: 15px;
    color: #4A4A4A;
    letter-spacing: -0.8px;
}
.respond{
    font-family: Poppins-SemiBold, Georgia, serif;
    font-size: 15px;
    color: #38D996;
    letter-spacing: -0.8px;
    margin: 17px;
}
.review_box{
    font-family: Poppins-Medium, Georgia, serif;
    font-size: 14px;
    color: #97A2A4;
    letter-spacing: -0.75px;
    padding: 20px;
    margin: 15px 15px 0 25px;
    background-color: #FFFFFF;
    box-shadow: 1px 3px 11px 0 rgba(0,0,0,0.03);
    border-radius: 8px;
}

.form_filter{
    float: right;
}

.srch_button{
    background-color: #FFFFFF;
    border: 1px solid #D3D3D5;
    border-radius: 8px;
    font-family: Poppins-SemiBold, Georgia, serif;
    font-size: 15px;
    color: #97A2A4;
    text-align: center;
    letter-spacing: -0.68px;
    width: 300px;
    height: 40px;
}

.btn_filter{
    background: #E4E4FD;
    border: 1px solid #D3D3D5;
    border-radius: 8px;
    font-family: Poppins-SemiBold, Georgia, serif;
    font-size: 15px;
    color: #3E41FF;
    letter-spacing: -0.68px;
    width: 98px;
    height: 40px;
}

.days_ago{
    font-family: Poppins-Medium, Georgia, serif;
    font-size: 15px;
    color: #B2B2BE;
    letter-spacing: -0.8px;
    float: right;
}

.table_box{
    font-family: Poppins-Medium, Georgia, serif;
    font-size: 14px;
    color: #97A2A4;
    letter-spacing: -0.75px;
    margin: 0 15px 0 25px;
    background-color: #FFFFFF;
    box-shadow: 1px 3px 11px 0 rgba(0,0,0,0.03);
    border-radius: 8px;
}
.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
    vertical-align: middle;
}

.table_box table thead tr{
    font-family: Poppins-Medium, Georgia, serif;
    font-size: 14px;
    color: #97A2A4;
    letter-spacing: -0.75px;
    height: 74px;
}

.table_box table tbody tr{
    font-family: Poppins-Medium,  Georgia, serif;
    font-size: 14px;
    color: #4A4A4A;
    letter-spacing: -0.75px;
    height: 74px;
}

.loc_dd select{
    background-color: #FFFFFF;
    border: none;
}